{% extends "layout.html" %}

{% block title %}
  Port&sigma;
{% endblock %}

{% block main %}
<div class="container h-100">
  <div class="row h-100">
    <div class="col-4 h-100">
      <div class="row h-25 align-items-end ">
        <h1 class='h-25'>Port&sigma;<sup>2</sup></h1>
      </div>
      <div class="row h-75 align-items-start justify-content-start">
        <p id="landing-para">
            Optimize your portfolio for the best risk-adjusted return
        </p>
      </div>
    </div>
    <div class="col-8 h-100">
      <img src="https://image.freepik.com/free-vector/pie-chart-concept-illustration_114360-1360.jpg" class="img-fluid" alt="Financial Graph">
    </div>
  </div>
</div>




{% endblock %}
